<p id="notice"><%= notice %></p>

<h1>Descriptive Pages</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descriptive_pages.each do |descriptive_page| %>
      <tr>
        <td><%= descriptive_page.link %></td>
        <td><%= link_to 'Show', descriptive_page %></td>
        <td><%= link_to 'Edit', edit_descriptive_page_path(descriptive_page) %></td>
        <td><%= link_to 'Destroy', descriptive_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Descriptive Page', new_descriptive_page_path %>
