<%= form_with(model: proyect, local: true) do |form| %>
  <% if proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :proyect_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :proyect_description %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :proyect_category %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal, id: :proyect_goal %>
  </div>

  <div class="field">
    <%= form.label :money_colected %>
    <%= form.text_field :money_colected, id: :proyect_money_colected %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date, id: :proyect_expiration_date %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :proyect_state %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :proyect_start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
