<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proyect.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proyect.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @proyect.category %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @proyect.goal %>
</p>

<p>
  <strong>Money colected:</strong>
  <%= @proyect.money_colected %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @proyect.expiration_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @proyect.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @proyect.start_date %>
</p>

<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>
