<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @promise.value %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @promise.Condition %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise) %> |
<%= link_to 'Back', promises_path %>
